.env
lets_encrypt/
database/ansible/vars/local-databases.yml

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
