.env
lets_encrypt/
database/ansible/vars/local-databases.yml
ai/n8n.env
ai/n8n-sandbox.env
ai/openwebui.env
ai/searxng.env
ai/litellm.env

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
