# API
SANDBOX_API_KEYS=changeme
SANDBOX_API_RUNNER_REGISTRATION_TOKEN=changeme
SANDBOX_API_RUNNER_API_KEY=changeme

# Runner
SANDBOX_RUNNER_API_KEYS=changeme
SANDBOX_RUNNER_REGISTRATION_TOKEN=changeme
