version: "3.3"
services:
  agent:
    image: portainer/agent:linux-amd64-2.11.0-alpine
    container_name: agent
    restart: unless-stopped
    environment:
      AGENT_CLUSTER_ADDR: agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/volumes:/var/lib/docker/volumes:ro
    ports:
      - "9001:9001"

  portainer:
    image: portainer/portainer-ce:linux-amd64-2.11.0-alpine
    container_name: portainer
    restart: unless-stopped
    command: -H tcp://agent:9001 --tlsskipverify
    volumes:
      - type: volume
        source: portainer_data
        target: /data
        volume:
          nocopy: true
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.rule=Host(`portainer.local.oskarrosen.com`)"
      - "traefik.http.routers.portainer.entrypoints=web"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"
      - "traefik.docker.network=traefik_internal"
    networks:
      - default
      - traefik_internal
    ports:
      - "9000:9000"
      - "8000:8000"
    depends_on:
      - agent

volumes:
  portainer_data:

networks:
  traefik_internal:
    external: true
